{% extends "base_generic.html" %}
  
{% block content %}
  {% if user.is_authenticated %}
  <!--네비게이터 부분 -->
  <h1>Local Osirau Home</h1>
    <h2>Dynamic content</h2>
    <p>The osirau has the following record counts:</p>
    <ul>
  	 <li><strong>num_request for guider:</strong> {{num_req_gui}}</li>
  	 <li><strong>num_request for users:</strong> {{num_req_use}}</li>
  	 <li><strong>Meeting_locations:</strong> {{num_Meeting_location}}</li>
    </ul>


    <h2>Map view</h2>
    <p id="result"></p>
    

    <div id="gui_latitude" style="display: none">
      {% for element in gui_lat %}
        {{element}},
      {% endfor %}
    </div>
    <div id="gui_longitude" style="display: none">
      {% for element in gui_long %}
        {{element}},
      {% endfor %}
    </div>

    <div id="use_latitude" style="display: none">
      {% for element in use_lat %}
        {{element}},
      {% endfor %}
    </div>
    <div id="use_longitude" style="display: none">
      {% for element in use_long %}
        {{element}},
      {% endfor %}
    </div>

    {% include "default.html" %}

  {% else %}
    {% include "Show_unlogin_home.html" %}
  {% endif %} 

{% endblock %}